{% extends 'base.html' %}

{% block title %}Admins{% endblock title %}

{% block content %}
<h2>Adminlar haqida malumot</h2>
<table class="table table-bordered table-responcive table-striped">
<tr>
    <th>
        First name
    </th>
    <th>
        Last Name
    </th>
    <th>
        Username
    </th>

</tr>
<tr>
    {% for admin in admins %}

    <td>
        {{ admin.first_name }}
    </td>
    <td>
        {{ admin.last_name }}
    </td>
    <td>
        {{ admin.username }}
    </td>
    
    
</tr>
{% endfor %}
</table>
{% endblock content %}